﻿@model ReflectionIT.Mvc.Paging.PagingList<AllQuizzesViewModel>
@using ReflectionIT.Mvc.Paging
@using Quiz.Common.ViewModels
@addTagHelper *, ReflectionIT.Mvc.Paging
@{ ViewData["Title"] = "Main Page"; }

<div class="row mx-auto">
    @if (Model.Count() == 0)
    {
<div class="mx-auto card-holder">
    <div class="quizCard text-center" style="width: 20em;">
        <p>No quizzes yet.</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Quiz" asp-action="CreateQuiz" title="Create Quiz"><i class="icon fas fa-plus-square fa-2x" style="color: white"></i></a>
    </div>
</div> }
else
{
@foreach (var quiz in Model)
{
<div class="col-md-4">
    <div class="card" style="margin-top: 30px;">
        <div class="card-body">
            <h4>@quiz.QuizName </h4>
            <h5>@quiz.Mode </h5>
            @if (@quiz.QuizQuestions.Count == 0)
            {
    <p>No questions yet</p> }
else if (@quiz.QuizQuestions.Count == 1)
{
    <p>@quiz.QuizQuestions.Count question</p> }
else
{
    <p>@quiz.QuizQuestions.Count questions</p>}
        </div>
        <div>
            <div style="margin: 10px; text-align: center;">
                @*<a style="padding: 10px;" asp-action="StartQuiz" asp-controller="Quiz" asp-route-id="@quiz.Id" title="Start">Start</a>*@
                <a type="button" class="btn btn-success" asp-action="StartQuiz" asp-controller="Quiz" asp-route-id="@quiz.Id" title="Start">Start</a>

                @*<a style="padding: 10px;" asp-action="DeleteQuiz" asp-controller="Quiz" asp-route-id="@quiz.Id" title="Delete">Delete</a>*@
            <a type="button" class="btn btn-warning" asp-action="DeleteQuiz" asp-controller="Quiz" asp-route-id="@quiz.Id" title="Delete">Delete</a>

            </div>
        </div>
        </div>
    </div>}}
</div>
<div>
    <nav>
        @Html.Partial("PagerOptions", this.Model)
    </nav>
</div>


