﻿@model CreateQuizBindingModel
@using Quiz.Data.Models.Enums
@using Quiz.Common.ViewModels

@{
    ViewData["Title"] = "CreateQuiz";
}

<style>
    .btn-transparent {
        background-color: transparent;
        border: none;
    }
</style>

<div class="row">
    <div class="mx-auto">

        <form id="createQuizForm" asp-controller="Quiz" asp-action="CreateQuiz" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mx-auto card-holder">
                <div class="quizCard text-left" style="width: 20em;">
                    <div class="form-group">
                        <label asp-for="QuizName" class="control-label">Quiz Name</label>
                        <input asp-for="QuizName" class="form-control" />
                        <span asp-validation-for="QuizName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Mode">Category</label>
                        <select class="custom-select" asp-for="Mode" asp-items="Html.GetEnumSelectList<ApplicationMode>()">
                            <option selected="selected" value="">Select category</option>
                        </select>
                        <span asp-validation-for="Mode" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-light" type="submit">Save Quiz</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
