﻿@model UserBindingModel
@using Quiz.Common.ViewModels
@using Quiz.Data.Models.Enums

<div class="row">
    <div class="mx-auto">

        <form id="createQuizForm" asp-controller="Quiz" asp-action="Settings" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mx-auto card-holder">
                <div class="quizCard text-left" style="width: 20em;">
                    <div>
                        <label asp-for="Mode">Quiz Mode</label>
                        <select class="custom-select" asp-for="Mode" asp-items="Html.GetEnumSelectList<ApplicationMode>()">
                            <option selected="selected" value="">Select mode</option>
                        </select>
                        <span asp-validation-for="Mode" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-light" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>