﻿@model QuizViewModel
@using Quiz.Common.ViewModels

@{ ViewData["Title"] = "StartQuiz";
    var json = ViewData["jsonData"].ToString(); }



<div id="quiz">
    <div id="quiz-header">
        <h1 id="quiz-logo">@Model.QuizName</h1>
        <p><a id="quiz-home">Questions Mode : @Model.Mode</a></p>
    </div>
    <div id="quiz-start-screen">
        <div><a href="#" id="quiz-start-btn" class="quiz-button">Click to Start</a></div>
    </div>
</div>


<script>

    var questions = '@json';
    var data = questions.replace(new RegExp("&" + "#" + "x27;", "g"), "'");

    // Variable to keep track of the total score.
    var totalScore = 0;

    // Provide an answer callback to add points to the score if correct answer selected.
    var answerCallback = function (currentQuestion, selected, question) {
        // Check if the user got the answer correct.
        if (selected === question.correctIndex) {
            // Add the points as specified in the question parameters, or default to 1.
            totalScore += question.points || 1;
        }
    };

    // Provide a callback to reset the score. Used if the home button is clicked.
    var resetScore = function () {
        totalScore = 0;
    };  

    // Provide a finish callback to display the score.
    var finishCallback = function () {
        $('#quiz-results').html('Total Score: ' + totalScore + ' Points');
        // Be sure to reset the score.
        totalScore = 0;
    };

    $('#quiz').quiz({
        homeButton: '#quiz-home',
        // Specify answer callback.
        answerCallback: answerCallback,
        // Specify finish callback.
        finishCallback: finishCallback,
        // Specify callback to reset score.
        homeCallback: resetScore,
        questions: 
            [
                {
                    'q': 'Is jQuery required for this plugin?',
                    'options': [
                        'Yes',
                        'No'
                    ],
                    'correctIndex': 0,
                    'correctResponse': 'Good job, that was obvious.',
                    'incorrectResponse': 'Well, if you don\'t include it, your quiz won\'t work'
                },
                {
                    'q': 'How do you use it?',
                    'options': [
                        'Include jQuery, that\'s it!',
                        'Include jQuery and the plugin javascript.',
                        'Include jQuery, the plugin javascript, the optional plugin css, required markup, and the javascript configuration.'
                    ],
                    'correctIndex': 2,
                    'correctResponse': 'Correct! Sounds more complicated than it really is.',
                    'incorrectResponse': 'Come on, it\'s not that easy!'
                },
                {
                    'q': 'The plugin can be configured to require a perfect score.',
                    'options': [
                        'True',
                        'False'
                    ],
                    'correctIndex': 0,
                    'correctResponse': 'You\'re a genius! You just set allowIncorrect to true.',
                    'incorrectResponse': 'Why you have no faith!? Just set allowIncorrect to true.'
                },
                {
                    'q': 'How do you specify the questions and answers?',
                    'options': [
                        'MySQL database',
                        'In the HTML',
                        'In the javascript configuration'
                    ],
                    'correctIndex': 2,
                    'correctResponse': 'Correct! Refer to the documentation for the structure.',
                    'incorrectResponse': 'Wrong! Do it in the javascript configuration. You might need to read the documentation.'
                }
            ]
    });
</script>





































@*<style>
        .bg-quizLogo {
            color: #fff;
            background: linear-gradient(-70deg, #045de9 0%, rgba(0, 0, 0, 0) 74%), url('@Model.QuizLogoUrl');
            background-repeat: no-repeat;
            background-size: contain;
            text-align: right;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
        }
    </style>




    <br />
    <div class="text-center">
        <div class="quizLogoCard bg-quizLogo text-dark">
            <h3>@Model.QuizName</h3><h5>@Model.Mode</h5>
        </div>
    </div>
    <hr />

    @{ var questions = Model.QuizQuestions as QuestionViewModel[] ?? Model.QuizQuestions.ToArray(); }
    <div class="row">
        <div class="mx-auto">

            @if (Model.QuizQuestions.Count() == 0)
            {
    <div class="mx-auto card-holder">
        <div class="quizCard text-center" style="width: 20em;">
            <p>No questions yet.</p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Question" asp-action="AddQuestion" title="Add Question"><i class="icon fas fa-question-circle fa-2x" style="color: white"></i></a>
        </div>
    </div> }
                else
                {
    <form asp-controller="Quiz" asp-action="StartQuiz" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @for (var i = 0; i < questions.Length; i++)
        {
    <div class="mx-auto card-holder">
        <div class="quizCard text-left" style="width: 20em;">
            <h4 class="text-center">@questions[i].QuestionName</h4>

            <input type="hidden" asp-for="Answers[i].QuestionId" value="@questions[i].Id" />
            <div>
                <input type="radio" asp-for="Answers[i].Answer" value="@questions[i].FirstAnswer" />
                <label>A @questions[i].FirstAnswer</label>
            </div>
            <div>
                <input type="radio" asp-for="Answers[i].Answer" value="@questions[i].FirstAnswer" />
                <label>B @questions[i].SecondAnswer</label>
            </div>
            <div>
                <input type="radio" asp-for="Answers[i].Answer" value="@questions[i].ThirdAnswer" />
                <label>C @questions[i].ThirdAnswer</label>
            </div>
        </div>
    </div>                }
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-style">
                        <h5 class="modal-title" id="exampleModalLongTitle">Finish</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        After clicking "Submit" you will see your results.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
                    <div>
                        <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Finish</button>
                    </div>}
        </div>
    </div>*@

