﻿@using Quiz.Common.ViewModels
@using Quiz.Data.Models.Enums
@model AddQuestionBindingModel

<style>
    .btn-transparent {
        background-color: transparent;
        border: none;
    }
</style>

<div class="row">
    <div class="mx-auto">

        <form id="addQuestionForm" asp-controller="Question" asp-action="AddQuestion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mx-auto card-holder">
                <div class="quizCard text-left" style="width: 20em;">
                    <div class="">
                        <label asp-for="QuestionName" class="control-label">Question</label>
                        <input asp-for="QuestionName" class="form-control" />
                        <span asp-validation-for="QuestionName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="FirstAnswer">First Option</label>
                        <input asp-for="FirstAnswer" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="SecondAnswer">Second Option</label>
                        <input asp-for="SecondAnswer" class="form-control" />
                    </div>
                    <div>
                        <label asp-for="ThirdAnswer">Third Option</label>
                        <input asp-for="ThirdAnswer" class="form-control" />
                    </div>
                    <hr />
                    <div>
                        <label asp-for="CorrectAnswerIndex">Correct Answer</label>
                        <select class="custom-select" asp-for="CorrectAnswerIndex" asp-items="Html.GetEnumSelectList<CorrectAnswer>()">
                            <option selected="selected" value="@CorrectAnswer.None">Select the correct answer</option>
                        </select>
                        <span asp-validation-for="CorrectAnswerIndex" class="text-danger"></span>
                    </div>
                    <hr />
                    <div>
                        <label class="screen-reader-only" for="choice">Correct Binary Answer?</label>
                        <label>
                            <input type="radio" asp-for="BinaryAnswer" name="choice-radio" value="true" checked="checked">
                            Yes
                        </label>
                        <label>
                            <input type="radio" asp-for="BinaryAnswer" name="choice-radio" value="false">
                            No
                        </label>
                    </div>
                    <hr />
                    <div>
                        <label>Multiple choice question mode</label>
                        <input class="screen-reader-only" id="MultipleChoiceMode" asp-for="MultipleChoiceMode" type="radio" value="true" checked="checked" />
                        <label class="form-check-label" for="AffectsUsersYes">Yes</label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="QuizId" class="control-label">Quiz</label>
                        <select asp-for="QuizId" class="form-control" asp-items="ViewBag.Quizzes">
                        </select>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-light" type="submit">Save Question</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>